<html>
    <head>
        <title>About</title>
        {{>favicon}}
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/about.css">
    </head>
    <body>
        {{>navbar}}

        <div id="wrapper">
            Check out the source code<br>and documentaion on

            <a href="https://github.com/paawankohli/task-manager">
                <img id="github" src="/img/github.png" alt="https://github.com/paawankohli/task-manager">
            </a>
        
            <br>
            <br>
            <br>
            Developed by <a href="https://www.github.com/paawankohli">Paawan Kohli</a>
        </div>

    </body>
</html>
