<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
    </head>
    <body>
        {{>navbar}}
        Developed by <a href="https://www.github.com/paawankohli">Paawan Kohli</a>
    </body>
</html>
