<html>
    <head>
        <title>Task</title>
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/allTasks.css">
    </head>
    <body>

        {{>navbar}}

        <h2>MY TASKS</h2>

        <div id="tasks-container">
            {{!-- 
            <div class="task">
                <a class="taskLink" href="">
                    <span class="title">
                    </span>
                    <p class="description">
                    </p>
                </a>
            </div> 
            --}}
        </div>
    </body>

    <script>

        function buildHTML (task) {

            let taskWrapper = document.createElement('div')
            taskWrapper.classList.add('task')
            
            const link = document.createElement('a')
            link.classList.add('taskLink')
            link.setAttribute('href', `/oneTask/${task._id}`)
            
            const title = document.createElement('span')
            title.classList.add('title')
            title.innerHTML = task.title

            const desc = document.createElement('p')
            desc.classList.add('description')
            
            if (task.description.length > 300) 
                task.description = task.description.substr(0, 296) + " ..."
            
            desc.innerHTML = task.description

            if (task.completed) {
                taskWrapper.classList.add("complete")
            } else {
                taskWrapper.classList.add("incomplete")
            }

            link.appendChild(title)
            link.appendChild(desc)
            taskWrapper.appendChild(link)

            return taskWrapper
        }
        
        async function getTasks() {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/task"
            const method = "GET"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()

            if (data.success) {
                const container = document.querySelector(`#tasks-container`)

                if (data.tasks.length === 0) 
                    return container.innerHTML = "You've no tasks yet. Please create one!"
                
                data.tasks.forEach(task => container.appendChild(buildHTML(task)))
            } else {
                alert(data.message)
                location.replace(`/`)
            }
        }

        getTasks()

    </script>
</html>