<html>

    <head>
        <title>Create Task</title>
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/create-task.css">
    </head>

    <body>

        {{>navbar}}

        <h2>CREATE TASK</h2>

        <form>
            <input type="text" placeholder="Title" id="title" required>
                
            <span class="onoff">
                <input type="checkbox" value="0" id="completed">
                <label for="completed"></label>
            </span>

            <br>
            <textarea type="text" placeholder="Description" id="description" required></textarea>
            <br>
            
            <br>
            <button type="submit" id="submit">Create</button>
        </form>
    </body>

    <script>

        async function createTask(toSend) {

            console.log(toSend)

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/task"
            const method = "POST"

            const requestOptions = {
                method,
                headers: myHeaders,
                body: JSON.stringify(toSend),
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()

            console.log(data)

            if (data.success) {
                alert(data.message)
                location.replace(`/oneTask/${data.id}`)
            } else {
                alert(data.message)
                document.querySelector('form').reset()
            }
        }


        document.querySelector("form").addEventListener("submit", (e) => {
            e.preventDefault();

            const title = document.querySelector("#title").value;
            const description = document.querySelector("#description").value;
            const completed = document.querySelector("#completed").checked;

            createTask({ title, description, completed })
        });

    </script>

</html>