<html>
    <head>
        <title>Page Not found</title>
        {{>favicon}}
        
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/error404.css">
    </head>
    <body>
        {{>navbar}}

        <div id = "wrapper">
            Page not found. Click on home.
        </div>
    </body>
</html>