<html>
    <head>
        <title>Get This Done</title>
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/index_page.css">
    </head>
    <body>

        <h1>GET THIS DONE</h1>
        <h2>THE SIMPLE TASK MANAGER</h2>

        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="https://github.com/paawankohli/task-manager/blob/master/README.md">DOCS</a></li>
            {{!-- <li><a href="/about">About</a></li> --}}
        </ul>

    </body>
</html>