<html>
    <title>Get This Done</title>
    <body>
        <a href="/api">API</a>
        <br>
        <br>
        Under development: 
        <br>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </body>
</html>