<html>
    <title>Login</title>

    <body>
        This is the login page.
        <br>

        <form>
            <input type="email" placeholder="email" id="email" required>
            <br>
            <input type="password" placeholder="password" id="password" required>
            <br>
            <button type="submit" id="submit">Submit</button>
        </form>

    </body>

    <script>

        async function login(toSend) {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")

            const reqURL = "/user/login"
            const method = "POST"

            const requestOptions = {
                method,
                headers: myHeaders,
                body: JSON.stringify(toSend),
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()
            // console.log(data)

            if (data.success === true) {
                alert("You're now logged in.")
                localStorage.setItem("gtdToken", `Bearer ${data.token}`)
                console.log("saved token to local storage")
                location.replace('/me')
            } else {
                alert(data.message)
            }
        }


        document.querySelector("form").addEventListener("submit", (e) => {
            e.preventDefault();

            const email = document.querySelector("#email").value;
            const password = document.querySelector("#password").value;

            login({ email, password })
        });

    </script>

</html>