<html>
    <head>
        <title>
            Profile
        </title>
    </head>
    <body>
        <h1 id="name"></h1>
        <br>

        <button id="logoutone">Logout of this session</button>    
        <button id="logoutall">Logout of all sessions</button>
        <br>

        {{!-- add functionality to update user details --}}

        <br>
        <button id="deleteUser">Delete my Profile</button>
    </body>

    <script>

        async function getProfile() {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/user/me"
            const method = "GET"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()

            if (data.success) {
                document.querySelector(`#name`).innerHTML = `Welcome ${data.user.name}`
            } else {
                alert(data.message)

                // the jwt in local storage is invalid so removing it.
                localStorage.removeItem('gtdToken')
                console.log(`Removed token from local storage `)
                
                location.replace(`/`)
            }
        }

        getProfile()








        // Logout functionality

        async function logoutOne () {
            const myHeaders = new Headers()
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/user/logout"
            const method = "POST"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()
            console.log(data)

            alert(data.message)

            if (data.success) {
                localStorage.removeItem('gtdToken')
                console.log(`Removed token from local storage `)
                location.replace('/')
            } else {
                alert(data.message)
            }
        }

        async function logoutAll () {
            const myHeaders = new Headers()
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/user/logoutAll"
            const method = "POST"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()
            console.log(data)

            alert(data.message)
            if (data.success) {
                localStorage.removeItem('gtdToken')
                console.log(`Removed token from local storage `)
                location.replace('/')
            } else {
                alert(data.message)
            }
        }

        document.querySelector('#logoutone').addEventListener('click', logoutOne)
        document.querySelector('#logoutall').addEventListener('click', logoutAll)









        // Delete user functionality

        async function deleteUser () {
            const myHeaders = new Headers()
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = "/user/me"
            const method = "DELETE"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()
            // console.log(data)

            alert(data.message)

            if (data.success) {
                localStorage.removeItem('gtdToken')
                console.log(`Removed token from local storage`)
                location.replace('/')
            } else {
                alert(data.message)
            }
        }

        document.querySelector('#deleteUser').addEventListener('click', deleteUser)



    </script>
</html>