<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/colors.css">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/oneTask.css">
    </head>
    <body>
        {{>navbar}}

        <form>
            <input type="text" placeholder="Title" id="title" required>
                
            <span class="onoff">
                <input type="checkbox" value="0" id="completed">
                <label for="completed"></label>
            </span>

            <br>
            <textarea type="text" placeholder="Description" id="description" required></textarea>
            <br>
            
            <br>
            <button type="submit" id="submit">Save Changes</button>
        </form>

        <button id="delete-btn">Delete Task</button>
    </body>

    <script>
        const id = location.pathname.replace("/oneTask/", "")
        
        async function getTask () {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = `/task/${id}` 
            const method = "GET"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()

            if (data.success) {
                document.querySelector('title').innerText = data.task.title
                document.querySelector('#title').value = data.task.title
                document.querySelector('#description').value = data.task.description
                document.querySelector('#completed').checked = data.task.completed
            } else {
                alert(data.message)
                location.replace(`/allTasks`)
            }
        }

        getTask()

        // functionality to delete task
        async function deleteTask () {

            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json")
            myHeaders.append("Authorization", localStorage.getItem('gtdToken'))

            const reqURL = `/task/${id}` 
            const method = "DELETE"

            const requestOptions = {
                method,
                headers: myHeaders,
                redirect: 'follow'
            }

            const res = await fetch(reqURL, requestOptions)
            const data = await res.json()

            if (data.success) {
                alert(data.message)
                location.replace("/allTasks")
            } else {
                alert(data.message)
            }
        }

        document.querySelector("#delete-btn").addEventListener("click", deleteTask)
    </script>
</html>