<nav>
    <ul>
        <li><a href="/me">Home</a></li>
        <li><a href="/allTasks">My Tasks</a></li>
        <li><a href="/createTask">Create Task</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>