h2 {
    font: bold 30px/1.4 "Open Sans", arial, sans-serif;
    text-align: center;
    color: var(--yellow);
}

#tasks-container {
    font: bold 20px/1.4 "Open Sans", arial, sans-serif;
    color: var(--white);
    margin: 0px 15px;
}

.task {
    margin: 20px;
    padding: 3px 10px;
    border: 3px solid var(--blue);
    border-radius: 10px;

    font: bold 16px/1.4 "Open Sans", arial, sans-serif;
}

.task a {
    text-decoration: none;
    color: var(--white);
    width: 100%;
}

.task a .title {
    padding-right: 10px;
    width: 100%;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
}

.task a .status {
    padding: 2px 5px;
    margin-top: 1px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.task a .description {
    font-weight: normal;
    padding-top: 5px;
    font-size: 15px;
    margin: 0px;
    padding: 5px 0px;
}

.complete {
    border-color: var(--green);
}

.complete:hover {
    background-color: var(--green);
}

.incomplete {
    border-color: var(--red);
}

.incomplete:hover {
    background-color: var(--red);
}