:root {
    --yellow: #ffa400ff;
    --blue: #009ffdff;
    --purple: #2a2a72ff;
    --black: #232528ff;
    --white: #eaf6ffff;
    
    --green: #008000;
    --red: #cc2c2c;
    --redHover: #e02424;
}

body {
    margin: 20px;
    background-color: var(--black);
}