nav {
    font: bold 16px/1.4 "Open Sans", arial, sans-serif;
}

nav ul {
    margin: 0px auto;
    padding: 0;
    list-style: none;
    display: table;
    width: 800px;
    text-align: center;
}

nav ul li {
    display: table-cell;
    position: relative;
    padding: 5px 0;
    width: 100px;
}

nav ul li a {
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 5px 20px;
    position: relative;
}

nav ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--yellow);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav ul li a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    nav ul {
        margin-top: 40px;
    }
}
